<mat-drawer-container class="example-container" class="search-results" infiniteScroll>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-side-nav></app-side-nav>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span style="margin-inline: 10px;">Music Player</span>
      <span class="example-spacer"></span>
        <span class="example-spacer"></span>
        <button *ngIf="checkAndroid || checkIos && showButton" mat-raised-button color="accent" (click)="addToHomeScreen()" style="float:right">Add to home screen</button>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>

  </div>
</mat-drawer-container>